<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="inner">
      <div id="footer-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
      </div>
      <div id="footer-links">
        <a href="http://weibo.com/u/2713077571" target="_blank" title="weibo"></a>
        <a href="https://github.com/ianwith" target="_blank" title="github"></a>
      </div>
    </div>
  </div>
</footer>